<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753101359159-c9g3k3nvqkiq0irbv2m3d6k30cf1fs14.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753101359159-c9g3k3nvqkiq0irbv2m3d6k30cf1fs14</string>
	<key>API_KEY</key>
	<string>AIzaSyD8zX09kUFdMn4BGKK9cpgXdhcqnooSrO8</string>
	<key>GCM_SENDER_ID</key>
	<string>753101359159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Laika-ReactNative</string>
	<key>PROJECT_ID</key>
	<string>laika-kproject</string>
	<key>STORAGE_BUCKET</key>
	<string>laika-kproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753101359159:ios:274bdc3af383d3052a57b2</string>
</dict>
</plist>